<h1>{{ pageTitle }}</h1>

<div class="table-responsive">
  <article class="table-header">
    <div>
      <mat-form-field class="product-search" appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda por PLU, EAN o Descripción" #input>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addRow()">
        Agregar
      </button>
    </div>
  </article>
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef>
        {{ col.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <ng-container *ngSwitchCase="'isSelected'">
            <mat-checkbox
              (change)="element.isSelected = $event.checked"
            ></mat-checkbox>
          </ng-container>
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button (click)="element.isEdit = !element.isEdit">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
            </button>
            <button
              *ngIf="displayRemove(element)"
              mat-button
              class="button-remove"
              (click)="removeRow(element.idProducto)"
            >
              <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
            </button>
          </div>
          <span *ngSwitchDefault>
            {{ col.key === 'area' ? element[col.key].nombre : element[col.key] | notApplicable }}
          </span>
        </div>
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <div *ngSwitchCase="'isSelected'"></div>
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-stroked-button
              (click)="editRow(element)"
              [disabled]="disableSubmit(element)"
            >
              Actualizar
            </button>
          </div>
          <mat-form-field class="form-input" *ngSwitchDefault>
            <input
              *ngIf="col.key !== 'area'"
              matInput
              [required]="col.required"
              [pattern]="col.pattern"
              [type]="col.type"
              [(ngModel)]="element[col.key]"
              [disabled]="disableInputField(element, col)"
            />
            <mat-select *ngIf="col.key === 'area'" [(ngModel)]="element[col.key]" [compareWith]="compareItems" [disabled]="!element.isAdd">
                <mat-option *ngFor="let area of areas" [value]="area">
                  {{ area.nombre }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
